<h2>About us</h2>
<p>
	Olive2oil is a premium, award winning Extra Virgin Olive Oil (EVOO).
	It is produced by the careful blending of oil from the olives from
	several varieties of olive tress.The trees are predominately of the
	Italian origin and grown in the fertile soils of Tauherenikau in the
	Southern Wairarapa. Olive2oil carries the Olives New Zealand
	OliveMark certifying that it meets the bottling, labeling, chemical
	and sensory criteria of EVOO. These criteria are based on
	international Olive Council standards for EVOO.
</p>