<main class="flex flex--container--across">
	<div class="flex product--bottle"></div>
	<div class="flex product--text">
		<h1>Our Product</h1>
		<p>
			Here at Olive2Oil we pride ourselves on quality, thats why our oil has never been anying short of a silver medal. We wouldn't want to sell it to you otherwise. Quality makes all the difference, once you try our oil you wont be able to go back to supermarket brands.
		</p>
		<a data-scroll-nav="0" class="button dark">Try it yourself</a>
	</div>
</main>