<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>

	<body>
		<nav class="flex--container--across">
			<div class="flex">
			<img class="nav--logo" src="images/o2o-logo.svg" alt="Olive2Oil logo"/>
			<div class="nav--links">
				<ul>
					<li><a data-scroll-nav="0">Our Product</a></li>
					<li><a data-scroll-nav="1">About us</a></li>
					<li><a data-scroll-nav="2">Order</a></li>
					<li><a data-scroll-nav="3">Contact us</a></li>
				</ul>
			</div>
		</nav>

		<!--
		<div class="flex--container--across header--home">
		<header id="header--{{ page.id }}" class="flex">
			<div class="circle--container black">
				<img src="images/o2o-logo.svg" alt="Olive2Oil logo"/>
				<h4>{{ page.sub-header }}</h4>
			</div>
		</header>
		</div>
		-->

		<div class="flex--container--across header--space"></div>