<form>
	<input type="text" name="full-name" placeholder="Your first and last name"/>
	<input type="email" name="email" placeholder="Email address"/>
	<div class="product--selection">
		<div id="250ml">
			<input type="number" name="250-ml-bottles" min="0" max="99" step="1" placeholder="Number of 250ml bottles"/>
		</div>
		<div id="500ml">
			<input type="number" name="500-ml-bottles" min="0" max="99" step="1" placeholder="Number of 500ml bottles"/>
		</div>
	</div>
	<input type="text" name="delivery-address" placeholder="Delivery address"/>
	<div class="small--fields">
		<div>
			<input type="text" name="region" placeholder="Region"/>
		</div>
		<div>
			<input type="text" name="post-code" placeholder="Post code"/>
		</div>
	</div>
	<input class="button green" type="submit" value="Send order"/>
</form>