<form>
	
	<input type="text" name="full-name" placeholder="Your first and last name"/>
	
	<input type="email" name="email" placeholder="Email address"/>
	
	<div class="product--selection">
		
		<div class="product--info">
			<p>
			Please select the amount of bottles you are after in the fields below.
			</p>
			<div class="pricing">${{ page.250ml-price }} for 250ml bottles</div>
			<div class="pricing">${{ page.500ml-price }} for 500ml bottles</div>
		</div>
		
		<div id="250ml" class="field--container">
			<input type="number" name="250-ml-bottles" min="0" max="99" step="1" placeholder="Number of 250ml bottles"/>
		</div>
		
		<div id="500ml" class="field--container">
			<input type="number" name="500-ml-bottles" min="0" max="99" step="1" placeholder="Number of 500ml bottles"/>
		</div>

		<!--
		<div class="product--total">
			<div class="sub--total">2 x 250ml bottles: $36</div>
			<div class="sub--total">1 x 500ml bottles: $30</div>
			<div class="total--cost">
				3 bottles total: $66 + shipping
			</div>
		</div>
		-->

	</div>
	
	<input type="text" name="delivery-address" placeholder="Delivery address"/>
	
	<div class="small--fields">
		
		<div class="field--container">
			<input type="text" name="region" placeholder="Region"/>
		</div>
		
		<div class="field--container">
			<input type="text" name="post-code" placeholder="Post code"/>
		</div>
	
	</div>
	
	<input class="button green" type="submit" value="Send order"/>

</form>