label{
	font-weight: 700;
}
.section--item form{
	max-width: 660px;
	margin: 32px auto;
}
.section--2-column form{
	max-width: 450px;
	margin: 0 auto;
}
.form--label{
	display: block;
}
.form--label--price{
	font-family: $type-stack-serif;
}
.form--label--contact{
	font-family: $type-stack-serif;
	font-size: $type-size-big;
	line-height: 2;
}
.form--input--quantity{
	height: 48px;
	width: 60px;
	margin: 24px 0;
	border: $color-grey solid 1px;
	border-radius: 3px;
	background: none;
	text-align: center;
	//padding: 0 10px;
}
.form--input--contact{
	width: 250px;
	border: none;
	border-bottom: $color-black solid 2px;
	margin: 0 10px;
	font-family: $type-stack-serif;
	font-weight: 700;
	font-size: $type-size-big;
}
.form--input--textarea{
	display: block;
	max-width: 660px;
	width: 100%;
	height: 240px;
	border: $color-grey solid 1px;
	border-radius: 3px;
}