h1,
h2,
h3{
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: $type-stack-serif;
	font-weight: 700;
}
h4,
h5{
	margin: 0;
	padding: 0;
	line-height: 2;
	font-family: $type-stack-sans-serif;
	font-weight: 400;
}
h1{
	font-size: $type-size-xlarge;
}
h2{
	font-size: $type-size-large;
}
h3{
	font-size: $type-size-big;
}
h4{
	font-size: $type-size-medium;
}
h5{
	font-size: $type-size-normal;
	text-transform: uppercase;
}
p{
	margin: 24px auto;
	max-width: 700px;
}
.button{
	display: inline-block;
	min-width: 200px;
	padding: 12px 25px;
	color: $color-white;
	background: $color-black;
	font-family: $type-stack-sans-serif;
	font-size: $type-size-medium;
	font-weight: 400;
	border: none;
	border-radius: 3px;
}
.button--solid{
	margin: 24px 0;
}
.button--solid--green{
	background: $color-green;
}
.button--ghost{
	background: none;
	border: $color-white solid 1px;
	color: $color-white;
}
.button--article--next,
.button--article--prev{
	width: 48px;
	min-width: 0;
	height: 48px;
}
.button--round{
	border-radius: 100%;
	width: 68px;
	min-width: 68px;
	height: 68px;
	padding: 0;
	margin: 24px 20px;
	background: none;
	font-size: $type-size-normal;
	color: $color-black;
	text-align: center;
	border: $color-black solid 2px;
	transition: color .25s ease-in-out,
							border-color .25s ease-in-out,
							background .25s ease-in-out;
	&:hover{
		border-color: $color-green;
		color: $color-green;
	}
}
.button--round--basket{
	width: 40px;
	min-width: 40px;
	height: 40px;
	color: $color-white;
	border-color: $color-white;
	&:hover{
		
	}
}
.button--round--selected{
	border-color: $color-green;
	background: $color-green;
	color: $color-white;
	&:hover{
		color: $color-white;
	}
}
.button--add,
.button--subtract{
	width: 48px;
	height: 48px;
	min-width: 0;
	padding: 0;
	margin: 24px 10px;
	color: $color-black;
	background: none;
	border: $color-grey solid 1px;
}