.navigation--basket{
	z-index: $index-1;
	position: fixed;
	top: 40px;
	right: 40px;
	&.navigation--basket--hidden{
		//visibility: hidden;
		opacity: 0;
	}
}
.navigation--basket--label{
	color: $color-white;
	font-size: $type-size-normal;
	font-weight: 400;
}