{% include header.html %}
		
		<div class="flex--container--across white">
		<main class="flex">
			<h2>About us</h2>
			
		</main>
		</div>

		<div class="flex--container--across light--grey">
		<section class="flex">
			<h2>The product</h2>
			
		</section>
		</div>

		<div class="flex--container--across dark--grey">
		<section class="flex">
			<h2>Get our oil</h2>
			
		</section>
		</div>

		<div class="flex--container--across green">
		<section class="flex">
			<h2>Want to chat?</h2>
			
		</section>
		</div>

{% include footer.html %}