{% include header.html %}
		
		<div data-scroll-index="0" class="flex--container--across white">
		
			{% include sections/home-top-section.html %}

		</div>

		<div data-scroll-index="1" class="flex--container--across light--grey">
		<section class="flex">
			
			{% include sections/about.html %}

		</section>
		</div>

		<div data-scroll-index="2" class="flex--container--across dark--grey">
		<section class="flex">
			<h2>Get our oil</h2>
			<p>
			There are <a href="#">various places around the wellington region</a> where you can pick up our Extra virgin olive 
			oil off the shelf or if you'd prefure you can ordered it straight from us via this hand form below. 
			Just fill in all the fields and we'll get in touch with the payment details.
			</p>

			{% include order-form.html %}

		</section>
		</div>

		<div data-scroll-index="3" class="flex--container--across green">
		<section class="flex">
			<h2>Want to chat?</h2>
			<p>
			Here at Olive2Oil we'd love to hear what you have to say. If you have got something on your mind 
			feel free to give us a buzz by filling out the form below. Also if you are interested I have our 
			product in you shop let us know.
			</p>

			{% include chat-form.html %}

		</section>
		</div>

{% include footer.html %}